Flask
Flask-Bcrypt
flask-cors
gunicorn
PyJWT==2.8.0
PyMySQL
cryptography==41.0.4
python-dateutil
DBUtils
click
Werkzeug
Jinja2
MarkupSafe
itsdangerous
# --- Chat ke liye naye packages ---
flask-socketio
python-socketio
eventlet